@media only screen and (max-width: 600px) {
    table {
        margin-bottom: 20%;
        text-align: center;
        margin-top: 1%;
        border-collapse: separate;
        border-spacing: 30px;
    }
}

@media only screen and (min-width: 601px) {
    table {
        text-align: center;
        margin-top: 1%;
        border-collapse: separate;
        border-spacing: 30px;
        margin-bottom: 5%;
    }
}

.card {
    opacity: 0.5;
    transition: 1s ease;
    border-radius: 20px;
}

.card:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

/* Instagram */
#instagram:hover {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    color: white;
}

/* Snapchat */
#snapchat:hover {
    background: #FFFC00;
}

/* Discord */
#discord:hover {
    background: #7289da;
    color:white;
}

/* Reddit */
#reddit:hover {
    background: #FF4301;
}

/* GitHub */
#github:hover {
    background: #000000;
    color: #FFFFFF;
}

/* TikTok */
#tiktok:hover {
    background: #010101;
    color: #EE1D52;
}

#tiktok .card-title:hover {
    color: #69C9D0;
}
